*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif; */
  font-family: "Poppins", Arial, sans-serif;
}
body {
  background-color: #151515;
}
nav {
  margin-left: 5%;
  margin-right: 5%;
}

.circle-avatar {
  background-color: #f4f3ee;
  /* background-color: #94d0d4; */
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.nav-logo {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  align-items: center;
  color: #000000;
  text-align: center;
}

.intro {
  margin: 5% 5% 0% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info h1 {
  font-size: 70px;
  line-height: 0.1;
  font-family: "Abril Fatface", serif;
  font-weight: 900;
  color: #fff;
  transition: 0.3s all ease;
  margin-bottom: 0 !important;
}
.info p {
  width: 60%;
  font-weight: 400;
  margin-top: 20px;
  color: #e5e5e5;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  text-transform: capitalize;
}

.info .android {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 600;
  margin-left: 0.5rem;
  margin-top: 0 !important;
  background-color: inherit;
}
.divider-desc {
  max-width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.vertical-divider {
  border-left: 3px solid #f3c623;
  height: auto;
  margin-right: 1rem;
}
#btn-contact-me {
  margin-top: 20px;
  padding: 6px 10px;
  color: #f3c623;
  background-color: #f4f4f000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  border: 1px solid #f3c623;
  cursor: pointer;
  transition: 0.4s;
  width: 12rem;
}
#btn-contact-me:hover {
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px #f3c62381, 0 1px 2px #f3c623;
}

.media {
  display: flex;
  flex-direction: column;
}
.social {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f4f4f0;
  padding: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 25%;
}

.social img {
  height: auto;
  width: 25px;
}
.scroll-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.1rem;
}
.scroll-section img {
  width: 20px;
  height: 20px;
  margin-top: 5rem;
  opacity: 0.7;
}

/* Skills section starts */

.skills {
  margin: 10% 5% 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skill-heading {
  font-size: 3em;
  font-weight: 800;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.individual_language {
  width: 180px;
  min-width: 180px;
  border: 1px solid rgb(55, 65, 81);
  /* box shadow 10px to right */
  box-shadow: 8px 8px 0 0 rgb(202, 166, 247);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.6rem;
  margin: 0rem 1rem 0rem 1rem;
}
.programming_lan_img {
  width: 1.5rem;
}
.programming_lan_name {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-left: 0.3rem;
  font-family: "Space Grotesk", sans-serif;
}

.individual_language:hover {
  /* Scale up tranistion while hover */
  transform: scale(1.09);
  transition: 0.5s;
}

.mobile_section_color {
  border: 1px solid rgb(55, 65, 81);
  /* box shadow 10px to right */
  box-shadow: 8px 8px 0 0 #17b978;
}
.frontend_section_color {
  border: 1px solid rgb(55, 65, 81);
  /* box shadow 10px to right */
  box-shadow: 8px 8px 0 0 rgb(169, 144, 126);
}
.devops_section_color {
  border: 1px solid rgb(55, 65, 81);
  /* box shadow 10px to right */
  box-shadow: 6px 6px 0px 1px #dcab70;
}
.dbms_section_color {
  border: 1px solid rgb(55, 65, 81);
  /* box shadow 10px to right */
  box-shadow: 6px 6px 0px 1px #64ccc5;
}
.other_section_color {
  border: 1px solid rgb(55, 65, 81);
  /* box shadow 10px to right */
  box-shadow: 6px 6px 0px 1px #dc8070;
}

/* Skills section ends */

/* Projects section */

.title-and-button {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 10% 5% 0% 5%;
}
.heading-projects {
  display: flex;
  flex-direction: row;
}
.heading-projects h1 {
  font-size: 42px;
  font-weight: 800;
  margin-right: 3rem;
  color: #fff;
}

.heading-projects a {
  font-size: 20px;
  font-weight: 600;
  margin-top: 1rem;
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
.arrows img {
  width: 50px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2% 5% 0% 5%;
}
/* individual project card design */
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 23%;
  min-height: 14rem;
  height: auto;
  width: 23%;

  border-radius: 15px;
  background-color: #343a40;
}
.project-image {
  min-height: 6rem;
  width: 100%;
}
.project-image img {
  height: 200px;
  overflow: hidden;
  border-radius: 0px;
  width: 100%;
  object-fit: cover;
}
.project-info {
  padding: 0rem 1.5rem 0rem 1.5rem;
  margin-bottom: 3rem;
}
.project-info h3 {
  font-size: 24px;
  font-weight: 800;
  margin-top: 1rem;
  color: #fff;
}
.project-desc {
  font-size: 16px;
  text-align: start;
  margin-top: 1rem;
  color: #f8f9fa;
}

.project-tech-stack {
  inherits: project-desc;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #f8f9fa;
}

/* on hivering on project-image image view-icon.png should show up with blur background
 */
.project-image figure img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.project-image figure:hover img {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}
.project-links {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  margin-top: 1rem;
}

.view-project-link {
  margin-top: 20px;
  padding: 6px 10px;
  color: #f3c623;
  background-color: #f4f4f000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  border: 1px solid #f3c623;
  cursor: pointer;
  transition: 0.4s;
  width: 12rem;
  text-decoration: none;
  text-align: center;
  margin-bottom: 3rem;
}
.project-link :hover {
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px #f3c62381, 0 1px 2px #f3c623;
}
/* Numbers styling  */
.level {
  background-color: #343a40;
}
.achievements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10% 5% 0% 5%;
}

.web-views {
  display: flex;
  flex-direction: row;
}

.web-views h2 {
  font-size: 68px;
  color: #fff;
}
.web-views p {
  font-size: 16px;
  text-transform: capitalize;
  color: #9a9a9a;
}

.github-repos {
  display: flex;
  flex-direction: row;
}

.github-repos h2 {
  font-size: 68px;
  color: #fff;
}

.github-repos p {
  font-size: 16px;
  text-transform: capitalize;
  color: #9a9a9a;
}

.leetcode {
  display: flex;
  flex-direction: row;
}
.leetcode h2 {
  font-size: 68px;
  color: #fff;
}

.leetcode p {
  font-size: 16px;
  text-transform: capitalize;
  color: #9a9a9a;
  margin-top: 0.7rem;
}

.github-contributions {
  display: flex;
  flex-direction: row;
}

.github-contributions h2 {
  font-size: 68px;
  color: #fff;
}

.github-contributions p {
  font-size: 16px;
  text-transform: capitalize;
  color: #9a9a9a;
}

/* Latest Articles */
.latest-articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10% 5% 0% 5%;
}

.article-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2% 5% 2% 5%;
}
.latest-articles h1 {
  font-size: 42px;
  font-weight: 800;
  color: #fff;
}
.latest-articles p {
  font-size: 20px;
  color: #f8f9fa;
}

.art-01 {
  background-image: url("../images/python.png");
  width: 300px; /* Set a fixed width */
  height: 350px; /* Set a fixed height */
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: start;
  padding: 1rem;
  /* add animation  */
  transition: transform 5s;
}

.art-02 {
  background-image: url("../images/mongodb.png");
  width: 300px; /* Set a fixed width */
  height: 350px; /* Set a fixed height */
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: start;
  padding: 1rem;
}
.art-03 {
  background-image: url("../images/python.png");
  width: 300px; /* Set a fixed width */
  height: 350px; /* Set a fixed height */
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: start;
  padding: 1rem;
}

.art-01 h1 {
  font-size: 12px;
  color: #303030;
  font-weight: 300;
}
.art-02 h1 {
  font-size: 12px;
  color: #303030;
  font-weight: 300;
}
.art-03 h1 {
  font-size: 12px;
  color: #303030;
  font-weight: 300;
}

.art-01-p {
  font-size: 18px;
  color: #303030;
  font-weight: 800;
}

.article-link {
  /* remove link blue */
  text-decoration: none;
}
.article-link:hover {
  transform: scale(1.05);
  transition: 0.7s;
}
.view-all-articles {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lButton13 {
  margin-top: 20px;
  padding: 6px 10px;
  color: #f3c623;
  background-color: #f4f4f000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  border: 1px solid #f3c623;
  cursor: pointer;
  transition: 0.4s;
  width: 15rem;
}

.lButton13:hover {
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px #f3c62381, 0 1px 2px #f3c623;
}
.footer {
  margin: 5% 5% 2% 5%;
}

.footer p {
  font-size: 12px;
  text-align: center;
  color: #303030;
}

/* media query */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info p1 {
    width: 80%;
    text-align: left;
  }
  .info h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 1rem;
  }
  .info p {
    width: 80%;
    text-align: center;
    margin-top: 1rem;
  }
  .media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .divider-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .social {
    margin: 0.4rem;
  }

  /* Skill section starts */

  /* Skill section ends */
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-card {
    width: 80%;
    margin-bottom: 2rem;
  }
  .project-info h3 {
    font-size: 20px;
  }
  .project-desc {
    font-size: 14px;
  }
  .project-tech-stack {
    font-size: 14px;
  }
  .achievements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  }

  .article-list {
    display: flex;
    flex-direction: column;
  }
  .latest-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .art-01 {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .art-03 {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .art-03 {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .lButton13 {
    width: 100%;
    margin-top: 1rem;
  }
}

/* custom cusrsor  */

.cursor {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 3px solid #f3c623;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #f3c6237b;
  opacity: 0.3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.hover {
  background-color: darkgrey;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}
