.timeline-section {
  margin: 5rem 3rem 3rem 5rem;
}

.education-timeline {
  display: flex;
  justify-content: space-around;
}
.timeline-main-heading {
  padding-left: 180px;
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 0.8rem;
}
ul.timeline {
  position: relative;
  list-style-type: none;
  padding-left: 180px;
}
ul.timeline:before {
  position: absolute;
  display: block;
  left: 136px;
  width: 8px;
  height: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  content: " ";
}
.event {
  position: relative;
  padding: 16px;
  background: #343a40;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 16px;
  margin-bottom: 30px;
}
ul.timeline .event:before {
  display: block;
  position: absolute;
  top: 30px;
  left: -55px;
  width: 30px;
  height: 30px;
  border: 6px solid #f3c623;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.6);
  content: " ";
}
.timeline-item-heading {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
  color: #ffffff;
}
.time {
  position: absolute;
  color: white;
  display: block;
  width: 120px;
  top: 35px;
  left: -179px;
  font-size: 0.9em;
  text-align: right;
  font-weight: 600;
  text-transform: uppercase;
}
ul.timeline .time > .glyphicon-time {
  top: 2px;
}

.description h3 {
  font-size: 1em;
  color: #000;
  font-weight: 500;
}

.description p {
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: #f3c623 !important;
}
.description h5 {
  display: block;
  font-weight: 300;
  font-size: 12px;
  color: #6c757d !important;
}

@media (max-width: 768px) {
  .education-timeline {
    display: flex;
    flex-direction: column;
  }
  .time {
    font-size: 0.8em;
  }
  .timeline-section {
    margin: 10px;
  }
}
